<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<%- include('../../partials/sidebar') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Voucher</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Beranda</a></li>
            <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Tambah Voucher
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form action="/voucher" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="coinQuantity">Nama Game</label>
                  <input type="text" id="coinQuantity" name="name" class="form-control" 
                  placeholder="Masukkan Nama Game" required>
                </div>
                <div class="form-group">
                  <label>Kategori</label>
                  <select class="select2" style="width: 100%;" name="category">
                    <option selected disabled>Pilih Kategori</option>
                    <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label>Nominal</label>
                  <div class="select2-purple">
                    <select class="select2" multiple="multiple" data-placeholder="Pilih Nominal"
                      data-dropdown-css-class="select2-purple" name="nominals" style="width: 100%;">
                      <% nominals.forEach(nominal => { %>
                      <option value="<%= nominal._id %>"><%= nominal.coinName + ' ' + nominal.coinQuantity %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="price">Gambar</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="thumbnail" name="thumbnail">
                    <label class="custom-file-label" for="customFile">Pilih Gambar</label>
                  </div>
                  <div id="preview-box" class="my-3">
                    <img src="" alt="Preview" id="preview">
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/js') %>
<script>
  function readImage(input) {
    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function(e) {
        $("#preview").attr("src", e.target.result);
        $("#preview").attr("width", "20%");
        $("#preview").attr("height", "20%");
        $(".custom-file-label").text(input.files[0].name);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#thumbnail").change(function(){
    readImage(this);
  })
</script>
