<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<%- include('../../partials/sidebar') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Jenis Pembayaran</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Beranda</a></li>
            <li class="breadcrumb-item"><a href="/payment">Jenis Pembayaran</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Tambah Jenis Pembayaran
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form action="/payment" method="post">
                <div class="form-group">
                  <label for="type">Tipe Pembayaran</label>
                  <input type="text" id="type" name="type" class="form-control" placeholder="Masukkan Tipe Pembayaran"
                    required>
                </div>
                <div class="form-group">
                  <label for="banks">Akun Bank</label>
                  <div class="select2-purple">
                    <select class="select2" multiple="multiple" data-placeholder="Pilih Akun Bank" data-dropdown-css-class="select2-purple"
                      name="banks" style="width: 100%;">
                      <% banks.forEach(bank=> { %>
                        <option value="<%= bank._id %>">
                          <%= `${bank.nameBank} ${bank.noRekening} a/n ${bank.name}` %>
                        </option>
                        <% }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/js') %>